.About-1 { 
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  position: relative;

}

.myvideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}