.NavBar1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.NavBar3 ul {
  display: flex;
  flex-direction: row;
  gap: 90px;
  margin-right: 100px;
}

.NavBar3 li {
  list-style: none !important;
  font-size: 20px;
}

.NavBar2 img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.NavBar2 {
  margin-left: 40px;


}